html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.detailed-product,
.detailed-product * {
  box-sizing: border-box;
}
.page-shell {
  width: 1600px;
  height: 4935px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.detailed-product {
  background: #ffffff;
  width: 1600px;
  min-height: 4935px;
  height: 4935px;
  position: relative;
  overflow: hidden;
  transform-origin: top left;
}
.rectangle-97 {
  width: 330px;
  height: 277px;
  position: absolute;
  left: 444px;
  top: 2283px;
  object-fit: cover;
}
.rectangle-99 {
  width: 330px;
  height: 262px;
  position: absolute;
  left: 1144px;
  top: 2298px;
  object-fit: cover;
}
.rectangle-98 {
  width: 311px;
  height: 262px;
  position: absolute;
  left: 794px;
  top: 2298px;
  object-fit: cover;
}
.div {
  color: #fcfcfc;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 638px;
  top: 559px;
}
.div2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 883px;
  top: 559px;
}
.rectangle-90 {
  width: 350px;
  height: 383px;
  position: absolute;
  left: 444px;
  top: 3884px;
  object-fit: cover;
}
.rectangle-91 {
  width: 330px;
  height: 416px;
  position: absolute;
  left: 794px;
  top: 3867px;
  object-fit: cover;
}
.rectangle-89 {
  width: 330px;
  height: 279px;
  position: absolute;
  left: 94px;
  top: 3936px;
  object-fit: cover;
}
.rectangle-92 {
  width: 330px;
  height: 416px;
  position: absolute;
  left: 1144px;
  top: 3876px;
  object-fit: cover;
}
.c-th-b-n-s-th-ch {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 488px;
  top: 2156px;
}
.line-21 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 303px;
  height: 0px;
  position: absolute;
  left: 632px;
  top: 2251px;
}
.cat-club-tee-en {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 110px;
  top: 4292px;
}
.basic-but-art-tee {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 828px;
  top: 4292px;
}
.shange-s-1-white {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 470px;
  top: 4292px;
}
.felix-shirt {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1246px;
  top: 4292px;
}
._6-250-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 167px;
  top: 4339px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
._6-890-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 521px;
  top: 4339px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
._7-350-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 877px;
  top: 4339px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
._7-900-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1232px;
  top: 4339px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
.rectangle-23 {
  background: #bcb7b7;
  width: 1440px;
  height: 146px;
  position: absolute;
  left: 64px;
  top: 4431px;
}
.vector {
  width: 4.84%;
  height: 1.56%;
  position: absolute;
  right: 89.48%;
  left: 5.68%;
  bottom: 7.96%;
  top: 90.48%;
  overflow: visible;
}
.h-tr-mua-h-ng-03572910221 {
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 208px;
  top: 4486px;
}
.h-tr-mua-h-ng-03572910221-span {
  color: #000000;
}
.h-tr-mua-h-ng-03572910221-span2 {
  color: #e21616;
}
.fanpage {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 1290px;
  top: 4614px;
}
.h-th-ng-c-a-h-ng {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 632px;
  top: 4623px;
}
.mende-air-force-1-ch-t-li-u-ch-t-da-m-m-m-n-d-y-d-n-v-c-bi-t-t-o-n-n-nh-ng-m-ng-m-u-loang-c-t-nh-k-ch-c-1-2-3-4-s-n-ph-m-thu-c-b-s-u-t-p-thu-ng-2022 {
  text-align: left;
  position: absolute;
  left: 852px;
  top: 769px;
  width: 578px;
}
.mende-air-force-1-ch-t-li-u-ch-t-da-m-m-m-n-d-y-d-n-v-c-bi-t-t-o-n-n-nh-ng-m-ng-m-u-loang-c-t-nh-k-ch-c-1-2-3-4-s-n-ph-m-thu-c-b-s-u-t-p-thu-ng-2022-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.mende-air-force-1-ch-t-li-u-ch-t-da-m-m-m-n-d-y-d-n-v-c-bi-t-t-o-n-n-nh-ng-m-ng-m-u-loang-c-t-nh-k-ch-c-1-2-3-4-s-n-ph-m-thu-c-b-s-u-t-p-thu-ng-2022-span2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.m-t-s-n-ph-m {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 340px;
  top: 779px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
.line-22 {
  margin-top: -2px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 96px;
  height: 0px;
  position: absolute;
  left: 207px;
  top: 799px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.elite {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 183px;
  top: 2578px;
  width: 170px;
  height: 36px;
}
.sonic {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 562px;
  top: 2578px;
}
.urban {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 906px;
  top: 2578px;
}
.pulse {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1261px;
  top: 2578px;
}
._2-100-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 198px;
  top: 2662px;
}
.rectangle-44 {
  width: 345px;
  height: 277px;
  position: absolute;
  left: 96px;
  top: 2290px;
  object-fit: cover;
}
.rectangle-49 {
  width: 330px;
  height: 328px;
  position: absolute;
  left: 444px;
  top: 3234px;
  object-fit: cover;
}
.rectangle-93 {
  width: 330px;
  height: 328px;
  position: absolute;
  left: 444px;
  top: 2734px;
  object-fit: cover;
}
.rectangle-50 {
  width: 330px;
  height: 328px;
  position: absolute;
  left: 794px;
  top: 3234px;
  object-fit: cover;
}
.rectangle-94 {
  width: 330px;
  height: 328px;
  position: absolute;
  left: 794px;
  top: 2734px;
  object-fit: cover;
}
.rectangle-51 {
  width: 330px;
  height: 328px;
  position: absolute;
  left: 1144px;
  top: 3234px;
  object-fit: cover;
}
.rectangle-95 {
  width: 330px;
  height: 328px;
  position: absolute;
  left: 1144px;
  top: 2734px;
  object-fit: cover;
}
.rectangle-52 {
  width: 330px;
  height: 328px;
  position: absolute;
  left: 94px;
  top: 3234px;
  object-fit: cover;
}
.rectangle-96 {
  width: 330px;
  height: 328px;
  position: absolute;
  left: 94px;
  top: 2734px;
  object-fit: cover;
}
.siren-shirt {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 183px;
  top: 3095px;
}
.mnd-bandana {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 503px;
  top: 3095px;
}
.mende-studio-shirt {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 829px;
  top: 3095px;
}
.m-signature-shirt {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1192px;
  top: 3095px;
}
.polo-silken-tr-ng {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 137px;
  top: 3583px;
}
.silky-caro-black {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 486px;
  top: 3583px;
}
.tropical-chameleon {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 820px;
  top: 3583px;
}
.the-skate {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1244px;
  top: 3583px;
}
._3-150-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 183px;
  top: 3182px;
}
._3-390-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 523px;
  top: 3164px;
}
._3-850-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 880px;
  top: 3164px;
}
._4-100-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1244px;
  top: 3164px;
}
._4-350-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 170px;
  top: 3649px;
}
._4-680-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 522px;
  top: 3642px;
}
._4-950-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 871px;
  top: 3644px;
}
._5-000-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1226px;
  top: 3649px;
}
.s-n-ph-m-m-i {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 564px;
  top: 3708px;
}
.image-8 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 194px;
  top: 2619px;
  object-fit: cover;
}
.image-12 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 193px;
  top: 3131px;
  object-fit: cover;
}
.image-9 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 544px;
  top: 2619px;
  object-fit: cover;
}
.image-13 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 543px;
  top: 3131px;
  object-fit: cover;
}
.image-10 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 902px;
  top: 2619px;
  object-fit: cover;
}
.image-14 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 901px;
  top: 3131px;
  object-fit: cover;
}
.image-11 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 1244px;
  top: 2619px;
  object-fit: cover;
}
.image-15 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 1243px;
  top: 3131px;
  object-fit: cover;
}
.image-16 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 185px;
  top: 3619px;
  object-fit: cover;
}
.image-17 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 535px;
  top: 3619px;
  object-fit: cover;
}
.image-18 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 893px;
  top: 3619px;
  object-fit: cover;
}
.image-19 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 1235px;
  top: 3619px;
  object-fit: cover;
}
._5-2-nh-gi {
  text-align: center;
  position: absolute;
  left: 333px;
  top: 1237px;
  width: 632px;
  height: 33px;
}
._5-2-nh-gi-span {
  color: #ffb800;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
._5-2-nh-gi-span2 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
._5-2-nh-gi-span3 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 31px;
  font-weight: 700;
}
._5-4-3-2-1 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 338px;
  top: 1320px;
  width: 63px;
  height: 205px;
}
.rectangle-138 {
  background: #d9d9d9;
  border-radius: 180px;
  width: 207px;
  height: 21px;
  position: absolute;
  left: 407px;
  top: 1334px;
}
.rectangle-139 {
  background: #d9d9d9;
  border-radius: 180px;
  width: 207px;
  height: 20px;
  position: absolute;
  left: 407px;
  top: 1373px;
}
.rectangle-140 {
  background: #d9d9d9;
  border-radius: 180px;
  width: 207px;
  height: 21px;
  position: absolute;
  left: 407px;
  top: 1411px;
}
.rectangle-141 {
  background: #d9d9d9;
  border-radius: 180px;
  width: 207px;
  height: 21px;
  position: absolute;
  left: 407px;
  top: 1450px;
}
.rectangle-132 {
  background: #d9d9d9;
  border-radius: 180px;
  width: 207px;
  height: 21px;
  position: absolute;
  left: 407px;
  top: 1488px;
}
.rectangle-133 {
  background: #ffb800;
  border-radius: 180px 0px 0px 180px;
  width: 10px;
  height: 19px;
  position: absolute;
  left: 614px;
  top: 1353px;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.rectangle-134 {
  background: #ffb800;
  border-radius: 180px 0px 0px 180px;
  width: 198px;
  height: 19px;
  position: absolute;
  left: 407px;
  top: 1334px;
}
.line-17 {
  margin-top: -3px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 3px 0 0 0;
  width: 1080.18px;
  height: 0px;
  position: absolute;
  left: 248px;
  top: 1533.35px;
  transform-origin: 0 0;
  transform: rotate(0.17deg) scale(1, 1);
}
.line-18 {
  margin-top: -3px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 3px 0 0 0;
  width: 1080.18px;
  height: 0px;
  position: absolute;
  left: 249.83px;
  top: 1752px;
  transform-origin: 0 0;
  transform: rotate(0.172deg) scale(1, 1);
}
.nguy-n-minh-h-i {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 279px;
  top: 1556px;
  width: 257px;
  height: 43px;
}
.div3 {
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 314px;
  top: 1599px;
  width: 199px;
  height: 37px;
}
.div-3-span {
  color: #ffb800;
}
.div-3-span2 {
  color: #000000;
}
.sp-r-nh-ng-x-i-r-t-t-t-s-ng-h-setup-n-u-c-mua-l-n-sau {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 279px;
  top: 1641px;
  width: 732px;
  height: 29px;
}
.facebook-like {
  width: 39px;
  height: 49px;
  position: absolute;
  left: 283px;
  top: 1696px;
  object-fit: cover;
}
.mode-comment {
  width: 34px;
  height: 37px;
  position: absolute;
  left: 496px;
  top: 1713px;
  overflow: visible;
}
.th-a-lu-n {
  color: #ffb800;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 550px;
  top: 1712px;
  width: 110px;
  height: 29px;
}
._444-h-u-ch {
  color: #ffb800;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 339px;
  top: 1713px;
  width: 165px;
  height: 29px;
}
.rectangle-135 {
  background: #d9d9d9;
  width: 402px;
  height: 92px;
  position: absolute;
  left: 356px;
  top: 1982px;
}
.rectangle-136 {
  background: #d9d9d9;
  width: 451px;
  height: 92px;
  position: absolute;
  left: 819px;
  top: 1982px;
}
.vi-t-nh-gi {
  color: #5200ff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 467px;
  top: 2013px;
  width: 292px;
  height: 24px;
}
.xem-nh-gi-kh-c {
  color: #5200ff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 856px;
  top: 2013px;
  width: 414px;
  height: 49px;
}
.stars {
  width: 59px;
  height: 77px;
  position: absolute;
  left: 759px;
  top: 1548px;
  overflow: visible;
}
.vector2 {
  width: 2.9%;
  height: 0.95%;
  position: absolute;
  right: 73.58%;
  left: 23.52%;
  bottom: 58.44%;
  top: 40.61%;
  overflow: visible;
}
.vector3 {
  width: 2.48%;
  height: 0.68%;
  position: absolute;
  right: 46.55%;
  left: 50.97%;
  bottom: 58.44%;
  top: 40.87%;
  overflow: visible;
}
._100-0-0-0-0 {
  color: #0047ff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 620px;
  top: 1328px;
  width: 102px;
  height: 187px;
}
.t-o-t-o {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 302px;
  top: 1755px;
  width: 257px;
  height: 43px;
}
.div4 {
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 318px;
  top: 1798px;
  width: 199px;
  height: 37px;
}
.div-4-span {
  color: #ffb800;
}
.div-4-span2 {
  color: #000000;
}
.s-n-ph-m-d-ng-ok-gi-c-ph-i-ch-ng {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 283px;
  top: 1840px;
  width: 732px;
  height: 29px;
}
.facebook-like2 {
  width: 39px;
  height: 49px;
  position: absolute;
  left: 287px;
  top: 1895px;
  object-fit: cover;
}
.mode-comment2 {
  width: 34px;
  height: 37px;
  position: absolute;
  left: 500px;
  top: 1912px;
  overflow: visible;
}
.th-a-lu-n2 {
  color: #ffb800;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 554px;
  top: 1911px;
  width: 110px;
  height: 29px;
}
._444-h-u-ch2 {
  color: #ffb800;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 343px;
  top: 1912px;
  width: 165px;
  height: 29px;
}
.rectangle-114 {
  width: 486px;
  height: 373px;
  position: absolute;
  left: 315px;
  top: 234px;
  object-fit: cover;
}
.rectangle-115 {
  width: 136px;
  height: 114px;
  position: absolute;
  left: 101px;
  top: 186px;
  object-fit: cover;
}
.rectangle-116 {
  width: 136px;
  height: 114px;
  position: absolute;
  left: 101px;
  top: 320px;
  object-fit: cover;
}
.rectangle-117 {
  width: 136px;
  height: 114px;
  position: absolute;
  left: 101px;
  top: 454px;
  object-fit: cover;
}
.rectangle-118 {
  width: 136px;
  height: 114px;
  position: absolute;
  left: 101px;
  top: 588px;
  object-fit: cover;
}
.air-force {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 965px;
  top: 229px;
  -webkit-text-stroke: 1px #000000;
}
.m-sp-cw-2288111 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 945px;
  top: 286px;
}
._3-800-000 {
  color: #f70c0c;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 984px;
  top: 324px;
  -webkit-text-stroke: 1px #f90000;
}
.line-23 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0 0;
  width: 600px;
  height: 0px;
  position: absolute;
  left: 902.98px;
  top: 380.55px;
}
.line-24 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0 0;
  width: 600px;
  height: 0px;
  position: absolute;
  left: 904px;
  top: 495px;
}
.rectangle-122 {
  background: #d9d9d9;
  width: 63px;
  height: 53px;
  position: absolute;
  left: 896px;
  top: 398px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-123 {
  background: #d9d9d9;
  width: 63px;
  height: 53px;
  position: absolute;
  left: 1004px;
  top: 398px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-124 {
  background: #d9d9d9;
  width: 63px;
  height: 53px;
  position: absolute;
  left: 1112px;
  top: 398px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-125 {
  background: #d9d9d9;
  width: 63px;
  height: 53px;
  position: absolute;
  left: 1220px;
  top: 398px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-126 {
  background: #d9d9d9;
  width: 63px;
  height: 53px;
  position: absolute;
  left: 1328px;
  top: 398px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
._41 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 904px;
  top: 405px;
}
._42 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1010px;
  top: 405px;
}
._43 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1121px;
  top: 405px;
}
._44 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1233px;
  top: 405px;
}
._45 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1340px;
  top: 405px;
}
.rectangle-127 {
  background: #fbf7f7;
  width: 233px;
  height: 92px;
  position: absolute;
  left: 896px;
  top: 522px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-128 {
  background: #d9d9d9;
  width: 54px;
  height: 92px;
  position: absolute;
  left: 895px;
  top: 522px;
}
.div5 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 910px;
  top: 552px;
  width: 20px;
}
.rectangle-129 {
  width: 54px;
  height: 92px;
  position: absolute;
  left: 1075px;
  top: 523px;
  overflow: visible;
}
.div6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1092px;
  top: 550px;
}
._1 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 997px;
  top: 547px;
}
.rectangle-130 {
  background: #d7fa00;
  border-radius: 15px;
  width: 266px;
  height: 65px;
  position: absolute;
  left: 894px;
  top: 657px;
}
.rectangle-131 {
  background: #f00d0d;
  border-radius: 15px;
  width: 266px;
  height: 65px;
  position: absolute;
  left: 1212px;
  top: 657px;
}
.th-m-v-o-gi {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 913px;
  top: 673px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}
.mua-ngay {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1273px;
  top: 673px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}
.step-up {
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 84px;
  top: 20px;
  -webkit-text-stroke: 1px #000000;
}
.step-up-span {
  color: #201dd5;
}
.step-up-span2 {
  color: #d85c53;
}
.vector4 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1401px;
  top: 40px;
  overflow: visible;
}
.ellipse-2 {
  background: #120000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1427px;
  top: 38px;
}
.group-28 {
  position: absolute;
  inset: 0;
}
.group-27 {
  width: 1119px;
  height: 51px;
  position: static;
}
.group-26 {
  width: 1119px;
  height: 51px;
  position: static;
}
.material-symbols-search-rounded {
  width: 40.54px;
  height: 28.73px;
  position: absolute;
  left: 1311.88px;
  top: 72.27px;
  overflow: hidden;
}
.icon-park-outline-people {
  width: 40.54px;
  height: 28.73px;
  position: absolute;
  left: 1369.65px;
  top: 72.27px;
  overflow: hidden;
}
.ph-shopping-cart-fill {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -164px;
  top: -406px;
  overflow: hidden;
}
._3 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1456.82px;
  top: 67.24px;
  width: 13.18px;
  height: 17.24px;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 351px;
  top: 50px;
}
.frame-26 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.gi-i-thi-u {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.nike {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.adidas {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.jordan {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.yeezy {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.other-brands {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.sale {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.vector5 {
  width: 1.81%;
  height: 0.59%;
  position: absolute;
  right: 16.26%;
  left: 81.92%;
  bottom: 98.53%;
  top: 0.87%;
  overflow: visible;
}
.vector6 {
  width: 1.77%;
  height: 0.58%;
  position: absolute;
  right: 19.45%;
  left: 78.78%;
  bottom: 98.53%;
  top: 0.89%;
  overflow: visible;
}
._32 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 1435px;
  top: 42px;
}
.d-y-gi-y {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1172px;
  top: 50px;
}
.icon-park-outline-people2 {
  width: 40.54px;
  height: 28.73px;
  position: absolute;
  left: 1375.65px;
  top: 77.27px;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  left: 206px;
  top: 4787px;
  overflow: visible;
}
.group2 {
  height: auto;
  position: absolute;
  left: 271px;
  top: 4787px;
  overflow: visible;
}
.vector7 {
  width: 2.65%;
  height: 0.89%;
  position: absolute;
  right: 77.04%;
  left: 20.31%;
  bottom: 2.11%;
  top: 97%;
  overflow: visible;
}
._2-250-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 534px;
  top: 2658px;
  width: 183px;
}
._2-400-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 881px;
  top: 2658px;
  width: 183px;
}
._2-590-000 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1225px;
  top: 2651px;
  width: 183px;
}
._842-s-v-n-h-nh-ph-ng-qu-n-10-hcm {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 632px;
  top: 4688px;
}
._1107-ql-1-a-th-i-an-qu-n-122-hcm {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 632px;
  top: 4731px;
}
.the-new-playground-04-qu-n-1-hcn {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 632px;
  top: 4781px;
}
._54-m-u-th-n-ph-ng-xu-n-kh-nh-qu-n-ninh-ki-u-c-n-th-th {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 632px;
  top: 4831px;
  width: 593px;
}
.image-268 {
  width: 249px;
  height: 136px;
  position: absolute;
  left: 1255px;
  top: 4688px;
  object-fit: cover;
  aspect-ratio: 249/136;
}
.step-up2 {
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 194px;
  top: 4662px;
  -webkit-text-stroke: 1px #000000;
}
.step-up-2-span {
  color: #201dd5;
}
.step-up-2-span2 {
  color: #d85c53;
}

@media (max-width: 1600px) {
  .page-shell {
    width: 100vw;
    height: calc(4935px * (100vw / 1600px));
  }

  .detailed-product {
    transform: scale(calc(100vw / 1600px));
  }
}
